html body {
	background-color: #B8B8B8;
}

/**animate**/
.bg-img, .topnav li {
	transition: all 2s;
	-webkit-transition: all 2s;
	-moz-transition: all 2s;
}

/*******************************************Header Navigation Bar******************************************/
.bg-img {
  /* The image used */
 	background-image: url(../img/BG1.jpg);
	width: 100%;
	height: 100px;
  /* Center and scale the image nicely */
  	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
}

/* Position the navbar container inside the image */
.container {
	width: 100%;
	text-align: center;
}

/* The navbar */
.topnav li {
	margin-top: 20px;
  	overflow: hidden;
  	background-color: #B8B8B8;
	position: center;
	display: inline-block;
}

/* Navbar links */
.topnav li a {
	float: left;
	color: #3D3D3D;
	text-align: center;
	padding: 16px 50px;
	text-decoration: none;
	font-size: 17px;
	font-family: "Georgia", sans-serif;
	font-weight: bolder;
}

.topnav li a:hover {
	background-color: #ddd;
	color: black;
}
/*******************************************Header Navigation Bar******************************************/

/*******************************************Body******************************************/
.bg-img2 {
  /* The image used */
 	background-image: url(../img/BG1.jpg);
	width: 100%;
	height: 800px;
  /* Center and scale the image nicely */
  	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
	margin: auto;
}
.h-img img {
	width: 100% ;
	height: 800px;
}
h1 {
	text-align: center;
}
/*******************************************Body******************************************/

/*******************************************Contact******************************************/
.h-img img {
	width: 100% ;
	height: 800px;
}
h1 {
	color: white;
	text-align: center;
}
/*******************************************Contact******************************************/
/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
	background-color: white;
	display: inline-block;
	width: 100%; /* Full width */
	padding: 10px; /* Some padding */ 
	border: 1px solid #ccc; /* Gray border */
	border-radius: 4px; /* Rounded borders */
	box-sizing: border-box; /* Make sure that padding and width stays in place */
	margin-top: 6px; /* Add a top margin */
	margin-bottom: 16px; /* Bottom margin */
	resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #FFFFFF;
  color: black;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #676767;
}

/* Add a background color and some padding around the form */
.contact {
	display: inline-block;
	border-radius: 5px;
	color: white;
	padding: 20px;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}
input, textarea{
	text-align: center;
}
/*******************************************Footer******************************************/
footer {
	background-color: #B8B8B8;
	width: 100%;
	text-align: center;
}
footer h3, p, a {
	color: black;
	text-decoration: none;
}
/*******************************************Footer******************************************/